button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(143, 141, 141, 0.5);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid rgba(41, 40, 40, 0.5);
    transition: 0.5s ease;
    user-select: none;
}

#btn:hover,
::-ms-value {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}





:root {
    --elevator-height-desktop: 20vh;
    --elevator-height-tablet: 12vh;
    --elevator-height-mobile: 8vh;
}

.elevator-container {
    position: relative;
    width: 80%;
    height: var(--elevator-height-desktop); /* ارتفاع پیش‌فرض */
    max-width: 500px;
    background-color: #ffffff;
    border: 5px solid #504e51;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
}

/* برای صفحه‌های متوسط (تبلت) */
@media (max-width: 992px) {
    .elevator-container {
        height: var(--elevator-height-tablet);
    }
}

/* برای صفحه‌های کوچک (موبایل) */
@media (max-width: 576px) {
    .elevator-container {
        height: var(--elevator-height-mobile);
    }
}

.door {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #bbb;
    border: 2px solid #888;
    transition: transform 1.5s ease-in-out;
}

.left-door {
    left: 0;
    transform: translateX(0);  /* در حالت بسته */
}

.right-door {
    right: 0;
    transform: translateX(0);  /* در حالت بسته */
}

.open .left-door {
    transform: translateX(-65%);
}

.open .right-door {
    transform: translateX(65%);
}

.status {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .elevator-container {
        height: 40vh; /* ارتفاع کمتر در صفحه‌های کوچکتر */
    }
}